@use "sass:math";

$pixel-scale: 2;
$bg-size: #{4 * $pixel-scale}px;
$bg-levels: "primary", "secondary", "tertiary";

$anim-duration: 0.6s;

@mixin bg($level) {
  background-image: var(--#{$level}-bg);
  background-repeat: repeat;
  background-size: $bg-size;
  background-position: 1px 1px;
}

@mixin no-bg() {
  background-color: var(--secondary-col);
}

@mixin column() {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & > * {
    @include container();
  }
}

@mixin container() {
  @include no-bg();

  border: 2px solid var(--primary-col);
  box-shadow: 4px 4px 0 var(--primary-col);

  padding: 2rem;

  h1 {
    margin-top: 0;
  }
}


@function snap($val) {
  @return Round($val, $bg-size);
}
@function pixels($val) {
  @return $val * $pixel-scale;
}

@mixin desktop {
  @media (orientation: landscape) {
    @content;
  }
}
@mixin mobile {
  @media (orientation: portrait) {
    @content;
  }
}


// make sure the body fills the whole screen
html, body {
  @include bg(secondary);

  margin: 0;
  padding: 0;
  height: 100%;

  image-rendering: pixelated;
}

body {
  box-sizing: border-box;
}


#main {
  padding: 4rem;

  display: grid;
  gap: 5rem;
  $icon-size: pixels(64px);

  @include desktop {
    grid-template-columns: snap(calc(30%)) snap(calc(60%));
  }
  @include mobile {
    grid-template-columns: snap(100%);
    & > :first-child {
      display: none;
    }
  }

  & > * {
    @include column();
  }
}

#album_grid {
  $angle: 30deg;
  $album-size: snap(12vw);
  
  $rotated-width: calc(#{$album-size} / #{math.cos($angle)});
  $gap-compensation: calc(#{$rotated-width} - #{$album-size});

  $anim-stagger: 60ms;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: calc(1rem + #{$gap-compensation});

  pointer-events: none;

  .album_column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: $album-size;
    flex-shrink: 0;
    
    opacity: 0;

    --dir: 1;
    --offset: var(--offset-0, 0px);

    transform-origin: center;
    transform: rotate($angle) translateY(calc(var(--scroll-y, 0px) * var(--dir) + var(--offset, 0px)));

    animation: fadeIn $anim-duration ease-out forwards;
    animation-delay: calc(var(--anim-idx) * $anim-stagger);
    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }

    &:nth-child(even) {
      --dir: -1;
      --offset: var(--offset-1, 0px);
    }

    .album {
      width: $album-size;
      height: $album-size;
      flex-shrink: 0;
      border: 2px solid var(--primary-col);
      background-color: var(--secondary-col);

      transform: rotate(-$angle);

      border-radius: 100%;
    }
  }

  &.active {
    pointer-events: auto;
  }
}
