@font-face {
  font-family: pixel;
  src: url('../fonts/04B_03__.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: pixelbig;
  src: url('../fonts/Pixellari.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --fg-color: #fff;
  --bg-color: #000;

  --cursor: url('../assets/cursor.png');
  --cursor-hover: url('../assets/cursorhover.png');

  --sidecolumn-width: 23vw;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: pixel;
  letter-spacing: -1px;
  font-smooth: never;
  -webkit-font-smoothing: none;

  color: var(--fg-color);

  scrollbar-color: var(--fg-color) var(--bg-color);
  scrollbar-width: thin;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: var(--cursor), auto;

  background-attachment: fixed;
}

::-webkit-scrollbar {
  background: var(--bg-color);
  width: .2rem;
}

::-webkit-scrollbar-thumb {
  background: var(--fg-color);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: var(--cursor-hover), auto;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

h1 {
  font-size: 4rem;
  margin: 0;
  top: 2rem;
  left: 0;
  text-align: center;
  padding: 0.5rem 0.4rem 0rem;
  border-radius: 10%;

  padding: 0.4rem 1rem 0rem;

  font-family: pixelbig;
  letter-spacing: normal;
}

ul {
  margin-top: 0;
}

table {
  border-spacing: 20px 7px;
}

th {
  text-align: left;
}

tr {
  vertical-align: top;
}

button {
  border: none;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: pixel;
  cursor: var(--cursor-hover), auto;
}


/* Utility classes */
.clickable {
  cursor: var(--cursor-hover), auto;
}

.shadow {
  filter: drop-shadow(7px 7px 0 var(--fg-color));
}

.shadow-box {
  box-shadow: 7px 7px 0 var(--fg-color);
}

.inv-shadow {
  filter: drop-shadow(0.8rem 0.8rem 0 var(--bg-color));
}

.border {
  border: 1px solid var(--fg-color);
}

.inv-border {
  border: 5px solid var(--bg-color);
}

.background {
  background-color: var(--bg-color);
}

.inv-background {
  background-color: var(--fg-color);
}

.ditherbg {
  background-repeat: repeat;
  background-size: auto;
}

.colorfilter {
  filter: saturate(0) contrast(0.8) url(#colorfilter) brightness(0.7) invert() contrast(1.2) brightness(1.3);
}

@keyframes bounceA {
  0% {
    transform: translate(0, 1px);
  }

  50% {
    transform: translate(0, 5px);
  }

  100% {
    transform: translate(0, 1px);
  }
}

.bounce {
  display: inline-block;
  animation: bounceA 1s infinite;
}

/* Waifu Image */
#BigWaifu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: left;
  align-items: center;

  z-index: 100;

  pointer-events: none;
}

#BigWaifu>img {
  top: 0;
  right: 10%;
  height: 100%;
  transition: bottom 0.5s;
  image-rendering: auto;

  transform: translate(68vw, 0);

  pointer-events: none;
}

/* Main Content*/
#Content {
  position: absolute;

  top: 0;
  left: calc(min(6rem, 3vw) + 2.5rem + var(--sidecolumn-width));
  right: calc(min(6rem, 3vw));

  padding: calc(min(3rem, 5vh)) 0;

  width: calc(70vw - var(--sidecolumn-width) - 2.5rem);

  /*
  display: flex;
  justify-self: space-between;
  gap: 2.5rem;
  */
}

.column {
  display: flex;
  flex-direction: column;
  flex-flow: space-between;
  justify-content: flex-start;
  align-items: flex-start;
  left: 0;
  gap: 2rem;
  height: 100%;
  /*width: fit-content*/
  ;
}

.column:nth-child(1) {
  position: fixed;
  left: calc(min(6rem, 3vw));
  width: var(--sidecolumn-width);
}

.column>div {
  width: 100%;
}

/* prevent text from being under the waifu ;) */
#MainColumn>div>.sectioncontent,
#MainColumn>div>a>.sectioncontent {
  padding-right: 1.5vw;
}

#MainColumn>div>.sectioncontent.hastabs,
#MainColumn>div>a>.sectioncontent.hastabs {
  padding-right: 0;
}

.container {
  border-radius: 3rem;
  overflow: hidden;
}

.horizontaldivider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.container.vertical {
  display: flex;
  align-items: stretch;
  min-height: 7rem;
  width: 100%;
}

.sectionheader {
  /*border-radius: 3rem 3rem 0 0;*/
  border-bottom: 1px solid var(--fg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  text-align: center;

  padding: .7rem;

  max-height: 5rem;
  min-height: 3rem;
  height: 10vh;
}

.sectionheader:has(h2:nth-child(1)) {
  justify-content: space-evenly;
}

.container.vertical>.sectionheader {
  border-radius: 3rem 0 0 3rem;
  border-right: 1px solid var(--fg-color);
  min-height: 7rem;
  width: 5rem;
  padding: 0;
  height: unset;
  max-height: unset;
}

.container.vertical>.sectionheader>h2 {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.sectionheader>h2,
.sectionheader>h2>span {
  border-radius: 0.5rem;
  padding: .4rem;
  height: fit-content;
  margin: 0;
}

.columnsection>.container {
  border-radius: 0rem;
  border-bottom: 0;
}

.columnsection>.container:first-child {
  border-radius: 3rem 3rem 0 0;
}

.columnsection>.container:last-child {
  border-radius: 0 0 3rem 3rem;
  border-bottom: 1px solid var(--fg-color);
}

.columnsection>.container>.sectionheader {
  height: 4vh;
  min-height: 2rem;
}

.columnsection>.container:first-child>.sectionheader {
  height: 10vh;
  min-height: 3rem;
}

.sectioncontent,
.sectioncontent.hastabs>.tabinner {
  padding: .7rem 1.5rem;

  height: calc(100% - 9rem);
  hyphens: auto;
  position: relative;
}

.sectioncontent.hastabs {
  padding: 0;
}

.sectioncontent>h2,
.sectioncontent.hastabs>.tabinner>h2 {
  margin: 0;
}

.container.vertical>.sectioncontent,
.container.vertical>a,
.container.vertical>.sectioncontent.hastabs>.tabinner {
  float: left;
  height: 100%;
  width: 100%;
  padding: 0;
}

.container.vertical>a>.sectioncontent,
.container.vertical>a>.sectioncontent.hastabs>.tabinner {
  width: 100%;
  padding: 0;
  height: 100%;
}

.tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
  height: 3rem;
  width: 100%;
  border-radius: 3rem 3rem 0 0;
  border-bottom: 1px solid var(--fg-color);
}

.tabs.vertical {
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
  gap: 0rem;
  padding: 0;
  margin: 0;
  height: 100%;
  border-radius: 0 3rem 3rem 0;
  border-bottom: unset;
}

.tabs>button {
  padding: .5rem 1rem;
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.tabs.vertical>button {
  padding: 0;
  height: 2rem;
  width: 100%;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.tabs>.tabsindicator {
  position: absolute;
  left: 0;
  height: 3px;
  background-color: var(--fg-color);
  transition: left 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transform: translate(0, calc(1.5rem - 50%));
}

.tabs.vertical>.tabsindicator {
  position: absolute;
  top: 0;
  width: 3px;
  background-color: var(--fg-color);
  transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transform: translate(0);
}

/* Discord */
#DiscordActivity {
  transform: translate(0, -7px);
}

#Discord>.sectioncontent,
#Discord>.sectioncontent>a {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0 .5rem .5rem .5rem;
  min-height: 12rem;
  transform: translateY(.4rem);
}

.avatar-border,
.avatar {
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  min-width: 3.5rem;
  min-height: 3.5rem;
  max-width: 5rem;
  max-height: 5rem;
}

.avatar {
  border-width: calc(min(5px, max(4px, .8vh)));
}

/* Music */
#RecentlyPlayed {
  max-height: 150rem;
}

#RecentlyPlayed>.sectioncontent>#MusicListContent {
  height: 40vh;
  overflow-y: auto;
  border-radius: 0rem 0rem 3rem 3rem;
}

#RecentlyPlayed>.sectioncontent>#MusicListContent>div,
#RecentlyPlayed>.sectioncontent>#MusicListContent>a>div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.song {
  flex-grow: 1;
}

/* Microblog */
#Microblogging {
  max-height: 150rem;
}

#Microblogging>.sectioncontent {
  height: 70vh;
  overflow-y: auto;
  border-radius: 0rem 0rem 3rem 3rem;
}

.mbpost {
  display: flex;
  flex-direction: column;

  padding: .5rem;
  border-radius: 1rem;
  border: 1px solid var(--fg-color);
  transition: background-color 0.2s ease-in-out;
  margin-bottom: .5rem;
}

.mbpostheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.mbpostimages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  margin-top: .5rem;
}

.mbpostimage {
  width: 50%;
  height: 20rem;
  border-radius: 1rem;
  margin-bottom: .5rem;
  object-fit: cover;
}

.mbemoji {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}

/* Uptime */
#Uptime>.sectioncontent {
  min-height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  left: 0;
  right: 0
}

#UptimeCurrent {
  text-align: center;
}

/* Site Controls */
#SiteControls {
  margin-top: auto;
}

#SiteControls>.sectionheader {
  gap: 0;
  justify-content: center;
}

#Socials>.sectioncontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 1.5rem;
}

#Socials>.sectioncontent>svg {
  width: 4rem;
  height: 4rem;
  transition: transform 0.2s;
}

/* Mobile and smaller screens */
@media screen and (max-width: 1550px) {
  #BigWaifu>img {
    transform: translate(60vw, 0);
  }

  .column:nth-child(1) {
    position: unset;
    left: unset;
    width: 100%;
    margin-bottom: 2rem;
  }


  #Content {
    left: calc(min(6rem, 10vw));
    width: calc(65vw - 2.5rem);
  }

  .hideonmobile {
    display: none !important;
  }
}

@media screen and (((orientation: portrait) and (max-width: 1550px)) or (max-width: 750px)) {
  #Content {
    flex-direction: column;
    left: calc(min(6rem, 10vw));
    right: calc(min(6rem, 10vw));
    width: unset;
  }

  .column:nth-child(1) {
    position: unset;
    left: unset;
    width: 100%;
    margin-bottom: 2rem;
  }

  #BigWaifu {
    display: none;
  }
}